@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: theme('fontFamily.body');
    background-color: theme('colors.bg.body');
    color: theme('colors.text.body');
    font-size: 1.125em;
    line-height: 1.85;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease;
  }

  body {
    @apply max-w-3xl mx-auto px-6 sm:px-8;
  }

  .theme {
    --color-primary-main: 249 115 22;

    --color-text-body: 55 65 81;
    --color-text-heading: 55 65 81;
    --color-text-bold: 55 65 81;
    --color-text-muted: 107 114 128;
    --color-text-link: 249 115 22;
    --color-text-code: 0 0 0;
    --color-text-selection: 0 0 0;

    --color-bg-body: 255 255 255;
    --color-bg-code: 255 247 237;
    --color-bg-selection: 253 230 138;

    --color-border-code: 255 237 213;
  }

  .theme.dark {
    --color-primary-main: 250 204 21;

    --color-text-body: 214 211 209;
    --color-text-heading: 255 255 255;
    --color-text-bold: 255 255 255;
    --color-text-muted: 168 162 158;
    --color-text-link: 250 204 21;
    --color-text-code: 255 255 255;
    --color-text-selection: 0 0 0;

    --color-bg-body: 14 20 27;
    --color-bg-code: 234 179 8;
    --color-bg-selection: 253 224 71;

    --color-border-code: 254 243 199;
  }
}

@layer components {
  strong {
    font-weight: 600;
    color: theme('colors.text.bold');
  }

  ::selection {
    background: theme('colors.bg.selection');
    color: theme('colors.text.selection');
  }
}
