$textMarginBottom: 1.125rem;

/*! purgecss start ignore */
@tailwind base;

body {
  font-family: 'Nunito Sans', serif;
  @apply font-normal;
  @apply text-gray-900;

  @apply bg-white;

  @apply p-8;

  @screen sm {
    @apply text-lg;
  }

  .full-bleed {
    @apply -m-8;
    @apply px-8;
    @apply mb-8;
  }
}

h1,
h2,
h3,
h4 {
  @apply font-bold;
}

h1 {
  @apply text-4xl;
  @apply leading-loose;
  @apply text-green-600;
}

h2 {
  @apply text-3xl;
  @apply leading-relaxed;
  @apply text-gray-800;
}

hr {
  @apply border-t-2;
  @apply my-4;
}

p {
  margin-bottom: $textMarginBottom;

  @screen sm {
    @apply leading-relaxed;
  }
}

ul {
  @apply list-disc;
  @apply list-inside;
  margin-bottom: $textMarginBottom;

  li {
    @apply leading-8;
  }
}

a {
  @apply text-green-600;
  @apply underline;

  &:hover {
    @apply text-green-700;
    @apply no-underline;
    @apply font-bold;
  }
}

@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;

.site-width {
  @apply max-w-sm;
  @apply mx-auto;

  @screen sm {
    @apply max-w-xl;
  }

  @screen lg {
    @apply max-w-3xl;
  }
}

header.site-header {
  @apply bg-white;
  @apply shadow;

  .brand {
    @apply text-gray-800;
    @apply text-lg;
    @apply text-center;

    @screen sm {
      @apply text-xl;
      @apply text-left;
    }
  }
}

footer.site-footer {
  @apply text-gray-500;
  @apply text-base;
}
