---
import Layout from '../../layouts/Layout.astro'
import { getCollection, CollectionEntry } from 'astro:content'

export async function getStaticPaths() {
  const writings = await getCollection('writings')
  return writings.map(entry => ({ params: { slug: entry.slug }, props: { entry } }))
}

export interface Props {
  entry: CollectionEntry<'writings'>
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={`${entry.data.title}`}>
  <div class="prose">
    <h1 class="text-primary-main">{entry.data.evergreen ? <>🌿</> : null} {entry.data.title}</h1>

    <section class="meta-bar text-text-muted">
      {entry.data.showDate ? <time>{entry.data.date.toDateString()}</time> : null}
      {entry.data.evergreen ? <div>🌿 Evergreen</div> : null}
    </section>
    <Content />
  </div>
</Layout>

<style>
  .meta-bar {
    /* @apply py-2; */
  }
</style>
